/* myStyle.css */
body {
background-color: #333300;
color: #FFFFFF;
}
h1 {
color: #FFFF33;
text-align: center;
font: italic 100% fantasy;
background-color: red;
}
p {
background-color: red;
color: #333300;
text-align: right;
border: 3px groove #FFFF33;
}